/* navigation control visual treatment */

#marker-nav {
    text-align: center;
}
#marker-nav a {
    max-width: 32%;
}
#marker-nav a.left, #marker-nav a.right {
     min-width: 90px;
}
#marker-nav a .ui-btn-text {
    font-size: 1.2em;
}

/* resource details screen styles */

#marker-detail .title {
    font-size: 1.2em;
    text-align: center;
    margin: 0 0 10px;
    color: #777;
}
#marker-detail .date {
    text-align: center;
    margin: 10px 0px;
}
#marker-detail .description {
    text-align: left;
    margin: 10px 10px;
}
#photo-container {
    display: block; 
    margin-left: auto;   
    margin-right: auto;
    height: 70%;
}